* {
  font-family: "Tahoma 12";
}
body {
  background-color: gray;
}
.centrado {
  display: flex;
  justify-content: center;
}
.imagen {
  width: 821px;
  height: 255px;
}
ol {
  list-style-type: lower-alpha;
}
.negrita {
  font-weight: bold;
}
p {
  text-align: justify;
}
